@page
@model ViewModel
@{
    ViewData["Title"] = "Clients";
}
<h1>Clients</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Addresses</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>@client.ID</td>
                <td>@client.Name</td>
                <td>@client.BirthDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <ul>
                        @foreach (var address in client.Addresses)
                        {
                            <li>@address.AddressText (Type: @address.Type)</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>